<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.activity" android:versionCode="1" android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <application android:label="@string/app_name" android:icon="@drawable/launcher">
        <activity android:name="com.example.activity.Decorator" android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="LoginForm" android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity android:name="ShopForm" android:label="@string/shop.form" android:screenOrientation="portrait"/>
        <activity android:name="Date" android:label="@string/date" android:screenOrientation="portrait"/>
        <activity android:name="Time" android:label="@string/time" android:screenOrientation="portrait"/>
        <activity android:name="Calendar" android:label="@string/calendar" android:screenOrientation="portrait"/>
        <activity android:name="ListData" android:label="@string/list" android:screenOrientation="portrait"/>
        <activity android:name="Widget" android:label="@string/widgets" android:screenOrientation="portrait"/>
    </application>
</manifest>
